<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-row style="border-bottom: 1px solid gray;padding-bottom: 15px;">
            <ion-col size="4">
              <ion-img style="height: 75px;" src="assets/dummy-user-img.png"></ion-img>
            </ion-col>
            <ion-col size="8">
              <div>
                <ion-list-header style="color: white; font-size: 1.9em;
                font-weight: 600;
                text-align: center;">Oneqlik</ion-list-header>
                <ion-note style="font-size: 1.1em;
                color: deepskyblue; text-overflow: ellipsis;">hi@ionicframework.com</ion-note>
              </div>
            </ion-col>
          </ion-row>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon *ngIf="p.icon !== 'fuel'" style="font-size: 1.8em; color:#00bcd5" slot="start"
                [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-icon *ngIf="p.icon === 'fuel'" style="font-size: 1.8em; color:#00bcd5" slot="start"
                src="assets/fuel.svg"></ion-icon>
              <ion-label style="font-size: 1.7em;
              font-weight: 300;">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-row style="border-bottom: 1px solid gray; padding-top: 25px"></ion-row>

          <ion-item routerDirection="root" [routerLink]="['/', 'home', 'gps']" lines="none"
            detail="false">
            <ion-icon style="font-size: 1.8em; color:#00bcd5" slot="start"
              ios="location-outline" md="location-sharp"></ion-icon>
           
            <ion-label style="font-size: 1.7em;
              font-weight: 300;">Location Settings</ion-label>
          </ion-item>
          <ion-item routerDirection="root" [routerLink]="['/', 'login']" lines="none"
            detail="false">
            <ion-icon style="font-size: 1.8em; color:#00bcd5" slot="start"
              ios="log-out-outline" md="log-out-sharp"></ion-icon>
           
            <ion-label style="font-size: 1.7em;
              font-weight: 300;">Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>