// ion-item{
//     --background: #3880ff;
//     --color: #fff;
// }

// ion-button{
//     --background: #062f77;
// }
.round {
  --width: 60px;
  --height: 60px;
  //   --border-radius: 50%;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
}

.para {
  margin: 2px 0px 15px 15px;
  font-size: 0.75em;
  color: gray;
}

// .itemst{
  .native-input.sc-ion-input-md,
  .native-input.sc-ion-input-ios {
    text-align: right;
  }
// }
