<ion-header>
  <ion-toolbar>
    <ion-row sticky="tue" style="padding-bottom: 20px; border-bottom: 1px solid #4287f5;">
      <ion-col>
        <ion-row>
          <ion-col size="2">
            <ion-icon *ngIf="iconName !== 'fuel'" [name]="iconName"
              style="font-size: 2.3em; color: #fc9536; float: right;">
            </ion-icon>
            <ion-icon *ngIf="iconName === 'fuel'" src="assets/{{iconName}}.svg"
              style="font-size: 2em; color: #fc9536; float: right;">
            </ion-icon>
          </ion-col>
          <ion-col size="8" style="margin: auto;" class="ion-text-center">
            <ion-text style="font-size: 1.6em; font-weight: 400;">
              {{formTitle}}
            </ion-text>
          </ion-col>
          <ion-col class="ion-text-center" style="margin: auto;" size="2" [routerLink]="['/', 'home']">
            <!-- <ion-buttons style="border-radius: 50%; --background:#fc9536">
              <ion-icon name="home-sharp"></ion-icon>
            </ion-buttons> -->
            <ion-icon src="assets/home.svg" style="font-size: 2.5em;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <!-- form will start from here -->
  <!-- <form> -->
  <ion-grid *ngIf="homeId === 'issue'">
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" [(ngModel)]="title" required></ion-input>
          </ion-item>
          <p class="para">This has to be over two characters</p>
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-input type="text" [(ngModel)]="description" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Priority</ion-label>
            <ion-select interface="popover" [(ngModel)]="priority" required>
              <ion-select-option value="high">High</ion-select-option>
              <ion-select-option value="medium">Medium</ion-select-option>
              <ion-select-option value="low">Low</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-row>
            <ion-col size="12" style="padding: 15px 15px;">
              <ion-label style="font-size: 0.9em;">Due date</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-row style="padding: 0px 10px; border-bottom: 1px solid lightgray;">
                <ion-col size="11" class="ion-no-padding" (click)="showDatepicker()">
                  <p style="font-size: 0.9em;margin: 0px;"> {{myDate}}</p>
                </ion-col>
                <ion-col size="1" style="margin: auto; text-align: center;">
                  <ion-icon style="color: gray; font-size: 0.8em;" name="caret-down-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row style="padding: 0px 10px; border-bottom: 1px solid lightgray;">
                <ion-col size="11" class="ion-no-padding" (click)="showTimepicker()">
                  <p style="font-size: 0.9em;margin: 0px;"> {{myTime}}</p>
                </ion-col>
                <ion-col size="1" style="margin: auto; text-align: center;">
                  <ion-icon style="color: gray; font-size: 0.8em;" name="caret-down-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="border-bottom: 1px solid lightgray;">
            <ion-col size="7" style="padding: 15px 15px;">
              <ion-label style="font-size: 0.9em;">Uploaded Files</ion-label>
            </ion-col>
            <ion-col size="5">
              <ion-button style="float: right;" color="light">Add Files...</ion-button>
            </ion-col>
            <ion-col size="12" style="padding: 0px 15px;">
              <p>No file selected...</p>
            </ion-col>
          </ion-row>
          <p class="para"> Choose from existing document or from camera.</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="homeId === 'service'">
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

        <div padding>
          <ion-item>
            <ion-label position="floating">Odometer</ion-label>
            <ion-input type="number" [(ngModel)]="odo" required></ion-input>
          </ion-item>
          <p class="para">This has to be greater than 0</p>
          <ion-item>
            <ion-label position="floating">Service Type</ion-label>
            <ion-select placeholder="Please choose one" interface="popover" [(ngModel)]="Service_type" required>
              <ion-select-option value="tire">Tire Replacement</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Vendor</ion-label>
            <ion-select placeholder="Please choose one" interface="popover" [(ngModel)]="vendor" required>
              <ion-select-option value="tire">No vendor</ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <ion-item> -->
          <ion-row>
            <ion-col size="12" style="padding: 15px 15px;">
              <ion-label style="font-size: 0.9em;">Serviced On</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-row style="padding: 0px 10px; border-bottom: 1px solid lightgray;">
                <ion-col size="11" class="ion-no-padding" (click)="showDatepicker()">
                  <p style="font-size: 0.9em;margin: 0px;"> {{myDate}}</p>
                </ion-col>
                <ion-col size="1" style="margin: auto; text-align: center;">
                  <ion-icon style="color: gray; font-size: 0.8em;" name="caret-down-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row style="padding: 0px 10px; border-bottom: 1px solid lightgray;">
                <ion-col size="11" class="ion-no-padding" (click)="showTimepicker()">
                  <p style="font-size: 0.9em;margin: 0px;"> {{myTime}}</p>
                </ion-col>
                <ion-col size="1" style="margin: auto; text-align: center;">
                  <ion-icon style="color: gray; font-size: 0.8em;" name="caret-down-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <!-- </ion-item> -->
          <ion-row style="border-bottom: 1px solid lightgray;">
            <ion-col size="7" style="padding: 15px 15px;">
              <ion-label style="font-size: 0.9em;">Uploaded Files</ion-label>
            </ion-col>
            <ion-col size="5">
              <ion-button style="float: right;" color="light">Add Files...</ion-button>
            </ion-col>
            <ion-col size="12" style="padding: 0px 15px;">
              <p>No file selected...</p>
            </ion-col>
          </ion-row>
          <!-- <ion-item>
              <ion-label style="font-size: 0.9em;">Uploaded Files</ion-label>
              <ion-button slot="end" color="light">Add Files...</ion-button>
              <p>No file selected...</p>
            </ion-item> -->
          <p class="para"> Choose from existing document or from camera.</p>
          <ion-item>
            <ion-label position="floating">Labor Cost</ion-label>
            <ion-input style="text-align: right" type="number" [(ngModel)]="labor_cost" required></ion-input>
          </ion-item>
          <ion-row>
            <ion-col size="9" class="ion-no-padding">
              <p class="para">Service labor total cost</p>
            </ion-col>
            <ion-col size="3" style="text-align: right;" class="ion-no-padding">
              <p style="margin: 2px 15px 15px 0px;">
                <ion-icon name="logo-euro"></ion-icon> 0.0
              </p>
            </ion-col>
          </ion-row>
          <ion-item>
            <ion-label position="floating">Parts Cost</ion-label>
            <ion-input style="text-align: right" type="number" [(ngModel)]="parts_cost" required></ion-input>
          </ion-item>
          <ion-row>
            <ion-col size="9" class="ion-no-padding">
              <p class="para">Car parts total cost</p>
            </ion-col>
            <ion-col size="3" style="text-align: right;" class="ion-no-padding">
              <p style="margin: 2px 15px 15px 0px;">
                <ion-icon name="logo-euro"></ion-icon> 0.0
              </p>
            </ion-col>
          </ion-row>

          <ion-item>
            <ion-label position="floating">Invoice Number</ion-label>
            <ion-input type="text" [(ngModel)]="invoice_num" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Comments</ion-label>
            <ion-input type="text" [(ngModel)]="comments" required></ion-input>
          </ion-item>
        </div>
        <!-- <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
          </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="homeId === 'fuel'">
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

        <div padding>
          <ion-item>
            <ion-label position="floating">Odometer</ion-label>
            <ion-input type="number" [(ngModel)]="odo" required></ion-input>
          </ion-item>
          <p class="para">This has to be greater than 0</p>
          <!-- <ion-item>
            <ion-label position="floating">Service Type</ion-label>
            <ion-select placeholder="Please choose one" interface="popover" [(ngModel)]="Service_type" required>
              <ion-select-option value="tire">Tire Replacement</ion-select-option>
            </ion-select>
          </ion-item> -->
          <ion-item>
            <ion-label position="floating">Vendor</ion-label>
            <ion-select placeholder="Please choose one" interface="popover" [(ngModel)]="vendor" required>
              <ion-select-option value="tire">No vendor</ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <ion-item> -->
          <ion-row>
            <ion-col size="12" style="padding: 15px 15px;">
              <ion-label style="font-size: 0.9em;">Entry Date</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-row style="padding: 0px 10px; border-bottom: 1px solid lightgray;">
                <ion-col size="11" class="ion-no-padding" (click)="showDatepicker()">
                  <p style="font-size: 0.9em;margin: 0px;"> {{myDate}}</p>
                </ion-col>
                <ion-col size="1" style="margin: auto; text-align: center;">
                  <ion-icon style="color: gray; font-size: 0.8em;" name="caret-down-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row style="padding: 0px 10px; border-bottom: 1px solid lightgray;">
                <ion-col size="11" class="ion-no-padding" (click)="showTimepicker()">
                  <p style="font-size: 0.9em;margin: 0px;"> {{myTime}}</p>
                </ion-col>
                <ion-col size="1" style="margin: auto; text-align: center;">
                  <ion-icon style="color: gray; font-size: 0.8em;" name="caret-down-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" style="padding: 15px 15px;">
              <ion-label>Partial Fuel-Up</ion-label>
            </ion-col>
            <ion-col size="6" style="text-align: right;">
              <ion-toggle [(ngModel)]="mushrooms"></ion-toggle>
            </ion-col>
          </ion-row>
          <!-- </ion-item> -->
          <ion-item>
            <ion-label position="floating">Total Cost</ion-label>
            <ion-input style="text-align: right" type="number" [(ngModel)]="parts_cost" required></ion-input>
          </ion-item>
          <ion-row>
            <ion-col size="9" class="ion-no-padding">
              <p class="para">Fuel total cost</p>
            </ion-col>
            <ion-col size="3" style="text-align: right;" class="ion-no-padding">
              <p style="margin: 2px 15px 15px 0px;">
                <ion-icon name="logo-euro"></ion-icon> 0.0
              </p>
            </ion-col>
          </ion-row>

          <ion-item>
            <ion-label position="floating">Invoice Number</ion-label>
            <ion-input type="text" [(ngModel)]="invoice_num" required></ion-input>
          </ion-item>
          <ion-row style="border-bottom: 1px solid lightgray;">
            <ion-col size="7" style="padding: 15px 15px;">
              <ion-label style="font-size: 0.9em;">Uploaded Files</ion-label>
            </ion-col>
            <ion-col size="5">
              <ion-button style="float: right;" color="light">Add Files...</ion-button>
            </ion-col>
            <ion-col size="12" style="padding: 0px 15px;">
              <p>No file selected...</p>
            </ion-col>
          </ion-row>
          <p class="para"> Choose from existing document or from camera.</p>
          <!-- <ion-item>
            <ion-label position="floating">Labor Cost</ion-label>
            <ion-input style="text-align: right" type="number" [(ngModel)]="labor_cost" required></ion-input>
          </ion-item>
          <ion-row>
            <ion-col size="9" class="ion-no-padding">
              <p class="para">Service labor total cost</p>
            </ion-col>
            <ion-col size="3" style="text-align: right;" class="ion-no-padding">
              <p style="margin: 2px 15px 15px 0px;">
                <ion-icon name="logo-euro"></ion-icon> 0.0
              </p>
            </ion-col>
          </ion-row> -->

          <!-- <ion-item>
            <ion-label position="floating">Comments</ion-label>
            <ion-input type="text" [(ngModel)]="comments" required></ion-input>
          </ion-item> -->
        </div>
        <!-- <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
          </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- </form> -->
  <!-- form will end here -->


</ion-content>
<ion-footer style="border-top: 1px solid #4287f5;">
  <ion-toolbar>
    <ion-button shape="round" style="float: right" class="round">
      <ion-icon slot="start" name="arrow-forward-sharp"></ion-icon>
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>