<ion-header class="ion-no-border" style="padding-top: 16px; border-left: 13px solid #2629aa;">
  <ion-toolbar>
    <ion-buttons slot="start" class="right">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">OneQlik Driver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="border-left: 12px solid #2629aa;">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-row>
          <ion-col class="ion-text-center" style="padding-top: 25px;">
            <ion-text style="font-size: 1.8em; font-weight: 400;">Driver Entries</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding: 25px 8px 15px 8px;" [routerLink]="['/', 'home', 'issue']">
            <ion-row>
              <ion-col size="12" style="background: #fbb97c;border-radius: 15px;">
                <ion-row>
                  <ion-col size="2" class="ion-text-center" style="margin: auto;">
                    <ion-icon style="font-size: 2.5em; color: #735539;" name="bug"></ion-icon>
                  </ion-col>
                  <ion-col size="8" class="ion-no-padding">
                    <ion-row>
                      <ion-col size="12" class="ion-no-padding">
                        <p style="margin: 2px; font-size: 1.4em; color: #735539; font-weight: bold;">Add Issue</p>
                      </ion-col>
                      <ion-col size="12" class="ion-no-padding">
                        <p style="margin: 2px;font-size: 1.1em;">General issue reports.</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="2">
                    <ion-icon name="arrow-forward-circle" color="tertiary" style="font-size: 3em;"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="padding: 0px 8px 15px 8px;" [routerLink]="['/', 'home', 'service']">
            <ion-row>
              <ion-col size="12" style="background: #f79383;border-radius: 15px;">
                <ion-row>
                  <ion-col size="2" class="ion-text-center" style="margin: auto;">
                    <ion-icon style="font-size: 2.5em; color: #72433d;" name="construct"></ion-icon>
                  </ion-col>
                  <ion-col size="8" class="ion-no-padding">
                    <ion-row>
                      <ion-col size="12" class="ion-no-padding">
                        <p style="margin: 2px; font-size: 1.4em; color: #72433d; font-weight: bold;">Add Service Entry
                        </p>
                      </ion-col>
                      <ion-col size="12" class="ion-no-padding">
                        <p style="margin: 2px;font-size: 1.1em;">Diagnose and repairs entries.</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="2">
                    <ion-icon name="arrow-forward-circle" color="tertiary" style="font-size: 3em;"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="padding: 0px 8px 15px 8px;" [routerLink]="['/', 'home', 'fuel']">
            <ion-row>
              <ion-col size="12" style="background: #e9cbcb;border-radius: 15px;">
                <ion-row>
                  <ion-col size="2" class="ion-text-center" style="margin: auto;">
                    <ion-icon style="font-size: 2.3em;color: #6b5d5d;" src="assets/fuel.svg"></ion-icon>
                  </ion-col>
                  <ion-col size="8" class="ion-no-padding">
                    <ion-row>
                      <ion-col size="12" class="ion-no-padding">
                        <p style="margin: 2px; font-size: 1.4em;color: #6b5d5d; font-weight: bold;">Add Fuel-Entry</p>
                      </ion-col>
                      <ion-col size="12" class="ion-no-padding">
                        <p style="margin: 2px;font-size: 1.1em;">Fuel entry reports.</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="2">
                    <ion-icon name="arrow-forward-circle" color="tertiary" style="font-size: 3em;"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center" style="padding-top: 25px;">
            <ion-text style="font-size: 1.8em;">GPS Client Settings</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="padding: 25px 8px 15px 8px;" [routerLink]="['/', 'home', 'gps']">
            <ion-row>
              <ion-col size="12" style="background: #ffeddf;border-radius: 15px;">
                <ion-row>
                  <ion-col size="2" class="ion-text-center" style="margin: auto;">
                    <ion-icon name="locate" style="font-size: 2.5em; color: #fc9536;"></ion-icon>
                  </ion-col>
                  <ion-col size="8" class="ion-no-padding">
                    <ion-row>
                      <ion-col size="12" class="ion-no-padding">
                        <p style="margin: 2px; font-size: 1.4em; color: #fc9536; font-weight: bold;">GPS Client Config
                        </p>
                      </ion-col>
                      <ion-col size="12" class="ion-no-padding">
                        <p style="margin: 2px;font-size: 1.1em;">Location tracking settings.</p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="2">
                    <ion-icon name="arrow-forward-circle" color="tertiary" style="font-size: 3em;"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div id="container">
    <h1 style="font-family: sans-serif; margin-top: 110%;font-size: 26px; margin-bottom: 8%">Driver Entries</h1>
    <ion-grid>
      <ion-row class="outer" style="background: #fbb97c">
        <ion-col size="2" style="font-size: xx-large; margin-top: 7px;">
          <ion-icon name="bug-outline" color="dark"></ion-icon>
        </ion-col>
        <ion-col size="8" style="text-align: start;">
          <ion-label>
            <h2 style="font-size: 20px;">Add Issue</h2>
            <h3>General issue reports.</h3>
          </ion-label>
          <p></p>
        </ion-col>
        <ion-col size="2">
          <div class="three">
            <ion-icon name="arrow-forward-outline" style="font-size: xx-large; margin-top: 7px; color: white;">
            </ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="outer" style="background: #f79383">
        <ion-col size="2" style="font-size: xx-large; margin-top: 7px;">
          <ion-icon name="construct-outline"></ion-icon>
        </ion-col>
        <ion-col size="8" style="text-align: start;">
          <ion-label>
            <h2 style="font-size: 20px;">Add Service Entry</h2>
            <h3>Diagnose and repairs entries.</h3>
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <div class="three">
            <ion-icon name="arrow-forward-outline" style="font-size: xx-large; margin-top: 7px; color: white;">
            </ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="outer" style="background: #e9cbcb">
        <ion-col size="2" style="font-size: xx-large; margin-top: 7px;">
          <ion-icon name="battery-full-outline"></ion-icon>
        </ion-col>
        <ion-col size="8" style="text-align: start;">
          <ion-label>
            <h2 style="font-size: 20px;">Add Fuel Entry</h2>
            <h3>Fuel Entry Reports.</h3>
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <div class="three">
            <ion-icon name="arrow-forward-outline" style="font-size: xx-large; margin-top: 7px; color: white;">
            </ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h1 style="margin-top: 40px;font-size: 26px;">
      GPS Client Settings
    </h1>

    <ion-grid>
      <ion-row class="outer" style="background: #ffeddf; margin-top: 5%;">
        <ion-col size="2" style="font-size: xx-large; margin-top: 7px;">
          <ion-icon name="locate-outline"></ion-icon>
        </ion-col>
        <ion-col size="8" style="text-align: start;">
          <ion-label>
            <h2 style="font-size: 20px;">GPS Client Config</h2>
            <h3>Location tracking Settings</h3>
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <div class="three">
            <ion-icon name="arrow-forward-outline" style="font-size: xx-large; margin-top: 7px; color: white;">
            </ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div> -->
</ion-content>