$size: 45px;

// .customeMenu {
//   width: 70px;
//   height: 61px;
//   background-color: gold;
//   border-top-left-radius: 0px;
//   border-top-right-radius: 110px;
//   border-bottom-right-radius: 110px;
//   border: 13px solid gray;
//   border-bottom: 0;
//   margin-left: 0px;
// }

.right {
  color: skyblue;
  height: 80px;
  width: 40px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  background-color: #2629aa;
  // background-color: gold;
  margin-left: -1px;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  transform: translateY(-50%);
  margin: 10px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

.outer {
  //border: 1px solid;
  border-radius: 10px;
  height: 60px;
}

// .pone {
//   font-size: 20px;
//   line-height: 22px;
//   color: #8c8c8c;
//   margin: 0;
//   color: black;
//   padding: 1px;
// }

.three {
  background: #5260ff;
  border-radius: 70px;
  height: 100%;
  width: 100%;
}
//  .four {
//    background: red;
//  }

#container a {
  text-decoration: none;
}
